.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  // grid-template-rows: repeat(auto-fit, minmax(35vh, 1fr));
  grid-gap: 50px;
  justify-items: center;
  justify-content: center;
}
.grid-end {
  grid-area: 6/1/6/3;
  display: flex;
  justify-content: center;
}
