.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  .custom-gravatar {
    border-radius: 50px;
  }
  .option {
    padding: 5px;
    transition: all 0.2s;
    @media screen and (max-width: 450px) {
      font-size: 10px;
    }
    &:hover {
      background-color: rgb(229, 225, 225);
      // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
    }
  }
  a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    @media screen and (max-width: 450px) {
      letter-spacing: unset;
    }

    &:hover {
      color: rgba(3, 12, 21, 0.5);
    }
  }
}
