.add-button {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  // background-color: rgb(107, 168, 234);
  color: rgb(233, 98, 166);
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
  &:hover {
    color: rgba(233, 98, 166, 0.5);
  }
}
